# Managed by Ansible template for /etc/ssmtp/revaliases
#
# sSMTP aliases
# 
# Format:	local_account:outgoing_address:mailhub
#
# Example: root:your_login@your.domain:mailhub.your.domain[:port]
# where [:port] is an optional port number that defaults to 25.
#root:sabertooth@devzero.be:mail.devzero.be:587
#thomas:sabertooth@devzero.be:mail.devzero.be:587
#nobody:sabertooth@devzero.be:mail.devzero.be:587
{% for alias in user2email_aliasses %}
{{ alias.user }}:{{ alias.email }}:{{ alias.smtp }}
{% endfor %}
