# Managed by Ansible template for /etc/systemd/system/status-email@.service

[Unit]
Description=status email for %i to {{ notification_email }}

[Service]
Type=oneshot
ExecStart=/usr/local/bin/systemd-email {{ notification_email }} %i
User=nobody
Group=systemd-journal
