#!/bin/bash
# Managed by Ansible template for /usr/local/bin/systemd-email

/usr/bin/sendmail -t <<ERRMAIL
To: $1
From: {{ inventory_hostname }} <{{ service_alias }}>
Subject: $2
Content-Transfer-Encoding: 8bit
Content-Type: text/plain; charset=UTF-8

$(systemctl status --full "$2")
ERRMAIL
